:root {
  --pirimary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --contacts-footer-color: #ffffff 60 %;
  --adress-color: #fff;
}

.body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--pirimary-text-color);
}

/* Header */
/* Logo */

.main-logo {
  text-decoration: none;
}

.main-logo-footer{
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

ul {
  list-style: none;
}

/* Навигация */

.navigation-main-paige{
  display: flex;
  align-items: center;
}

.navigation{ 
 border-bottom:  1px solid #ECECEC;
}

.nav-links{
  display: flex;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-links .item:not(:last-child){
  margin-right: 50px;
}

.nav-links .link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.contacts-list{
  display: flex;
  margin-left: auto;
  padding: 0px;

}

.contacts-list .item:not(:last-child){
  margin-right: 50px;
}

.contacts {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--pirimary-text-color);
}


/* Hero */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}

.button-hero {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}
/* секкции */
/* наши преймущества */
.section-title-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
  margin: 0px;
}

/* Наши преймущества */

.feature-list{
  display: flex;
  padding-left: 0px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.feature-list .item{
  width: 270px;
  height: 101px;
}

.feature-list .item:not(:last-child){
  margin-right: 30px;
}

/* Чем мы занимаемся */

.section-title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.exemples-list{
  display: flex;
}

.exemples-list .item:not(:last-child){
  margin-right: 30px;
}

.container-exemples{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  width: 1200px;
  padding: 0 15px;
  outline: 2px solid #000000;  
}

.img{
  display: block;
}


/* наша команда */

.section-title-main-team{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;

}

.section-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.text-team {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
}

.text {
  color: var(--pirimary-text-color);
  margin-bottom: 0px;
}

.container-team{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  outline: 2px solid #000000; 
  background-color: #F5F4FA;;
}

/* Кнопки */

.button-navigation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.button-navigation:hover,
.button-navigation:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}

/* примеры работ */

.section-title{
  margin-top: 0px;
}

.section-title-examples {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text-examples {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--pirimary-text-color);
}

/* footer */
.contacts-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
  padding: 60px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  outline: 2px solid #000000; 
}

ul{
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}